@model List<Model.EF.ProductCategory>
@{
    var menuNavBarInners = (List<Model.EF.Menu>)TempData["MenuNavBarInner"];
}
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="agileits-navi_search">
            <form action="#" method="post">
                <select onchange="location = this.value;"  value="@Request.Url.AbsolutePath" id="agileinfo-nav_search" name="agileinfo_search" class="border" required="">
                    <option value="/san-pham">All Categories</option>
                    @foreach (var item in Model)
                    {
                <option value="/san-pham/@item.MetaTitle-@item.ID" id="@item.ID">
                    @item.Name
                </option>
                    }
                </select>
            </form>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto text-center mr-xl-5">
                @{ int i = 0;}
                @foreach (var item in menuNavBarInners)
                {
                    i++;
                    var active = i == 1 ? "active" : "";
                    <li class="nav-item @active mr-lg-2 mb-lg-0 mb-2">
                        <a class="nav-link" href="@item.Link" aria-haspopup="true" aria-expanded="false">@item.Text</a>
                    </li>
                }
            </ul>
        </div>
    </nav>
</div>
