@model OnlineShop.Models.LoginModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .content {
        display: flex;
        justify-content: center;
        margin: 2rem;
    }

    .form-horizontal {
        padding: 2rem;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }

    .control-label {
        white-space: nowrap;
        margin-bottom: 4px;
        padding: 0px;
        font-size: 14px;
    }

    .bottom-btn input {
        margin-right: 8px;
    }

    .field-validation-error {
        font-size: 12px;
        text-transform: capitalize;
    }

    h4 {
        text-transform: uppercase;
        width: 100%;
        text-align: center;
        font-weight: 700;
    }

    .form-horizontal {
        width: 35vw;
        min-width: 100px;
    }
</style>
<div class="content">
    @using (Html.BeginForm("Login", "User", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>LOGIN</h4>
            <hr />
            <div class="">
                <label class="control-label col-md-2"></label>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="">
                    @Html.TextBoxFor(model => model.UserName, new { @class = "form-control" } )
                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="">
                    @Html.PasswordFor(model => model.Password, new { @class = "form-control" } )
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="bottom-btn text-center">
                    <input type="submit" value="Login" class="btn btn-default" />
                    <a href="/User/LoginFacebook"><i class="fa fa-facebook-square">Login with Facebook</i></a>
                </div>
            </div>
        </div>
    }


</div>

