@model OnlineShop.Models.RegisterModel
@using BotDetect.Web.Mvc;
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="@BotDetect.Web.CaptchaUrls.Absolute.LayoutStyleSheetUrl"
      rel="stylesheet" type="text/css" />
@{ MvcCaptcha registerCapcha = new MvcCaptcha("registerCapcha"); }
@section jsFooter{
    <script src="/Assets/Client/js/controller/userController.js"></script>
}
<style>
    .content {
        display: flex;
        justify-content: center;
        margin: 2rem;
    }

    .form-horizontal {
        padding: 2rem;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }

    .control-label {
        white-space: nowrap;
        margin-bottom: 4px;
        padding: 0px;
        font-size: 14px;
    }

    .bottom-btn input {
        margin-right: 8px;
    }

    .field-validation-error {
        font-size: 12px;
        text-transform: capitalize;
    }

    h4 {
        text-transform: uppercase;
        width: 100%;
        text-align: center;
        font-weight: 700;
    }

    form {
        width: 600px;
    }
</style>
<div class="content">
    @using (Html.BeginForm("Register", "User", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>REGISTER MEMBER</h4>
            <hr />
            <div class="form-group">
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                @if (ViewBag.Success != null)
                {
                    <div class="alert alert-success">@ViewBag.Success</div>
                }
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.UserName, new { @class = "control-label " })
                <div class="">
                    @Html.TextBoxFor(model => model.UserName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Password, new { @class = "control-label " })
                <div class="">
                    @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ConfirmPassword, new { @class = "control-label " })
                <div class="">
                    @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Name, new { @class = "control-label " })
                <div class="">
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Address, new { @class = "control-label " })
                <div class="">
                    @Html.TextAreaFor(model => model.Address, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Email, new { @class = "control-label " })
                <div class="">
                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Phone, new { @class = "control-label " })
                <div class="">
                    @Html.TextBoxFor(model => model.Phone, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                </div>
            </div>
          
            <div class="form-group">
                <div class="col-md-offset-2 ">
                    @Html.Captcha(registerCapcha)
                    @Html.TextBox("CaptchaCode")
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 ">
                    <input type="submit" value="Register" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
</div>