@using PagedList.Mvc;
@model PagedList.IPagedList<Model.EF.Content>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Tag = (Model.EF.Tag)ViewBag.Tag;
}
@section Slider{
    <!-- banner-2 -->
    <div class="page-head_agile_info_w3l">

    </div>
    <!-- //banner-2 -->
    <!-- page -->
    <div class="services-breadcrumb">
        <div class="agile_inner_breadcrumb">
            <div class="container">
                <ul class="w3_short">
                    <li>
                        <a href="index.html">Home</a>
                        <i>|</i>
                    </li>
                    <li>Tag</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- //page -->
}
<style>
    .left {
        float: left;
    }

    .right {
        float: right;
    }
</style>
<div class="ads-grid py-sm-5 py-4">
    <div class="container py-xl-4 py-lg-2">
        <h1 class="my-4">
            Tag | @Tag.Name
        </h1>
        @if (Model.Count() > 0)
        {
            foreach (var item in Model)
            {
                <div class="card mb-4">
                    <img class="card-img-top" src="@item.Image" style="height:auto;max-height:200px;" alt="Card image cap">
                    <div class="card-body">
                        <h2 class="card-title">@item.Name</h2>
                        <p class="card-text">@item.Description</p>
                        <a href="/tin-tuc/@item.MetaTitle-@item.ID" class="btn btn-primary">Read More &rarr;</a>
                    </div>
                    <div class="card-footer text-muted">
                        Posted on @item.CreatedDate by
                        <a href="#">@item.CreatedBy</a>
                        <div class="right">4 Likes | 8 Comments</div>
                    </div>
                </div>
            }
        }

        <div>
            <br />
            Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
            @Html.PagedListPager(Model, page => Url.Action("Index", "Tag",
                             new { page }))
        </div>
    </div>
</div>